.navigation{
  border-bottom: 1px solid red;
}

.navigation .top .logo {
  width: 3rem;
  height: 3rem;
  background-image: url('../svg/Logo.svg');
  background-size: cover;
}

.navigation .bottom > div {
  cursor: pointer;
}

.navigation .bottom > div:hover {
  opacity: 50%;
}

.navigation .bottom > div:first-child {
  border-radius: 25px;
}