body{
  height: 100vh;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

.sign-up .container {
  border-radius: 10px;
  color: black;
  background-color: white;
}

.sign-up .container .content input {
  padding: 2px 10px;
  border-radius: 5px;
  border: 1px solid grey;
}

.sign-up .container .content .submit button {
  border: 1px solid grey;
  background-color:  #ffcc92;
  border-radius: 10px;
}
.sign-up .container .content .submit button:hover {
  opacity: 90%;
}

.sign-up .container .content .account-exist {
  font-size: .8rem;
}

.sign-up .container .content .account-exist a {
  color: blue;
}

.images img {
  width: 8rem;
  height: 8rem;
}

.view-gallery > a > p, i {
  color: black;
}

.view-gallery > a {
  transition: all 0.5s ease;
}

.view-gallery > a:hover {
  text-decoration: none;
  transition: all 0.5s ease;
  transform: translateY(-3px);
}

@media (max-width: 991px) {
  .sign-up .container {
    flex-wrap: wrap;
    border-radius: 10px;
    color: black;
    background-color: rgb(255, 255, 255);
  }

}