
body{
  border: 1px solid black;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  height: 100vh;
}

.navigation .top .logo {
  width: 3rem;
  height: 3rem;
  background-image: url('../svg/Logo.svg');
  background-size: cover;
  cursor: pointer;
}

.navigation .top .login {
  
}

.navigation .bottom > div {
  cursor: pointer;
}

.navigation .bottom > div:hover {
  opacity: 50%;
}

.navigation .bottom > div:nth-child(3) {
  border-radius: 25px;
}

.classic h1 {
  width: 65rem;
}