body{
  border: 1px solid black;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

h2 {
  font-size: clamp(1rem, 5vw, 3rem);
}


.banner .hero {
  width: 100%;
  height: 70rem;
  padding-top: 7rem;
  padding-left: 2rem;
  background-size: cover;
  background-position: bottom ;
  background-blend-mode: hard-light;
  background-image:
    linear-gradient( rgba(128, 0, 255, 0), #190a04), 
    url(../img/lrg/banner.webp);
}

.banner .hero > div > h1 {
  font-size: clamp(5rem, 12vw, 16rem);
}

.long-form {
  padding: 0 2rem 0 2rem;
  background-image: linear-gradient(to bottom, black, #190a04, black);
}

.long-form .engine {
  width: 300rem;
  height: 42rem;
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
  background-image:
    linear-gradient( to  top,  #190a04c7, rgba(128, 0, 255, 0), #190a04),
    linear-gradient( to  right, #190a04, rgba(128, 0, 255, 0), rgb(0, 0, 0)), 
    url(../img/full/text-background.jpg);
}

.long-form .text  {
  width: 153rem;
  background-color: black;
}

.long-form .text > p {
  width: 30rem;
}
