body {
  border: 1px solid black;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  height: 100vh;
}

.login .container {
  background-color: white;
  border-radius: 10px;
  color: black;
}

.login .container .content input {
  border-radius: 5px;
  border: 1px solid grey;
  padding: 2px 10px;
}

.login .container .content .submit button {
  background-color:  #ffcc92;
  border-radius: 10px;
  border: 1px solid grey;
}
.login .container .content .submit button:hover {
 opacity: 90%;
}

.login .container .content .account-exist {
  font-size: .8rem;
}

.login .container .content .account-exist a {
  color: blue;
}

.login .container .choices > select {
  background-color:  #ffa988;
}

.images > div > div > img {
  width: 8rem;
  height: 8rem;
}

.view-gallery > a > p, i {
  color: black;
}

.view-gallery > a{
  transition: all 0.5s ease;
}

.view-gallery > a:hover {
  text-decoration: none;
  transition: all 0.5s ease;
  transform: translateY(-3px);
}
