* {
  box-sizing: border-box;
  
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

body {
  height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}



:root{
  --main-bg-color: #190a04;
  --main-text-color: #ffffff;
}

p {
  font-size: clamp(8px, 2vw, 16px);
}

a {
  color: white;
}

ul {
  list-style-type: none;
}

/* navigation */

.navigation .top .logo {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-image: url('../svg/classic\ cars\ \(1\).svg');
  background-position-x: -1px;
  background-size: cover;
  cursor: pointer;
}

.navigation .bottom > div {
  font-size: clamp(9px, 1vw, 17px);
  cursor: pointer;
}

.navigation .bottom > div:hover, a:hover {
  text-decoration: none;
  color: white;
  opacity: 50%;
}

/* ****** FOOTER UPDATED ******* */

footer{
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  
}


.active {
  border-radius: 25px;
}
